In [78]:
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import regex as re

In [79]:
#Tabla de Precios de la electricidad para consumidores domésticos
url='https://watiofy.com/info/blog/comparativa-precio-luz-europa/'
browser=webdriver.Chrome()
browser.get(url)

In [80]:
eve=browser.find_elements(By.TAG_NAME,'tbody')
bank=[i.text for i in eve]
bank

['Euro Área 0,2322 0,2369 2,02%\nUnión Europea 27 0,2192 0,2474 12,86%\nDinamarca 0,29 0,3448 18,90%\nAlemania 0,3193 0,3234 1,28%\nBélgica 0,2702 0,2994 10,81%\nIrlanda 0,2555 0,2974 16,40%\nEspaña 0,2323 0,2816 21,22%\nItalia 0,2259 0,236 4,47%\nChipre 0,1976 0,2304 16,60%\nAustria 0,2216 0,2285 3,11%\nPortugal 0,2089 0,217 3,88%\nFrancia 0,1933 0,2022 4,60%\nLuxemburgo 0,1988 0,1989 0,05%\nGrecia 0,168 0,1974 17,50%\nEstonia 0,1324 0,1939 46,45%\nLetonia 0,1403 0,1886 34,43%\nRepública Checa 0,1802 0,1883 4,50%\nFinlandia 0,1767 0,184 4,13%\nEslovenia 0,1662 0,1711 2,95%\nEslovaquia 0,1668 0,1624 -2,64%\nRumanía 0,1536 0,1602 4,30%\nPolonia 0,1548 0,1574 1,68%\nLituania 0,1348 0,1477 9,57%\nPaíses Bajos 0,1281 0,1449 13,11%\nMalta 0,1279 0,1317 2,97%\nCroacia 0,1291 0,1313 1,70%\nBulgaria 0,1024 0,1091 6,54%\nHungría 0,1003 0,1001 -0,20%\n        Noruega 0,1826 0,2206 20,81%\nLiechtenstein 0,2071 0,2121 2,41%\nIslandia 0,1356 0,1387 2,29%']

In [81]:
bank2=[i for a in bank for i in a.split('\n')]
bank2

['Euro Área 0,2322 0,2369 2,02%',
 'Unión Europea 27 0,2192 0,2474 12,86%',
 'Dinamarca 0,29 0,3448 18,90%',
 'Alemania 0,3193 0,3234 1,28%',
 'Bélgica 0,2702 0,2994 10,81%',
 'Irlanda 0,2555 0,2974 16,40%',
 'España 0,2323 0,2816 21,22%',
 'Italia 0,2259 0,236 4,47%',
 'Chipre 0,1976 0,2304 16,60%',
 'Austria 0,2216 0,2285 3,11%',
 'Portugal 0,2089 0,217 3,88%',
 'Francia 0,1933 0,2022 4,60%',
 'Luxemburgo 0,1988 0,1989 0,05%',
 'Grecia 0,168 0,1974 17,50%',
 'Estonia 0,1324 0,1939 46,45%',
 'Letonia 0,1403 0,1886 34,43%',
 'República Checa 0,1802 0,1883 4,50%',
 'Finlandia 0,1767 0,184 4,13%',
 'Eslovenia 0,1662 0,1711 2,95%',
 'Eslovaquia 0,1668 0,1624 -2,64%',
 'Rumanía 0,1536 0,1602 4,30%',
 'Polonia 0,1548 0,1574 1,68%',
 'Lituania 0,1348 0,1477 9,57%',
 'Países Bajos 0,1281 0,1449 13,11%',
 'Malta 0,1279 0,1317 2,97%',
 'Croacia 0,1291 0,1313 1,70%',
 'Bulgaria 0,1024 0,1091 6,54%',
 'Hungría 0,1003 0,1001 -0,20%',
 '        Noruega 0,1826 0,2206 20,81%',
 'Liechtenstein 0,2071 0,2121 2,41%',
 'Islandia 0,1356 0,1387 2,29%']

In [82]:
regex=r'\w.+'
y=[]
for i in bank2:
    y.append(re.findall(regex,i))
y

[['Euro Área 0,2322 0,2369 2,02%'],
 ['Unión Europea 27 0,2192 0,2474 12,86%'],
 ['Dinamarca 0,29 0,3448 18,90%'],
 ['Alemania 0,3193 0,3234 1,28%'],
 ['Bélgica 0,2702 0,2994 10,81%'],
 ['Irlanda 0,2555 0,2974 16,40%'],
 ['España 0,2323 0,2816 21,22%'],
 ['Italia 0,2259 0,236 4,47%'],
 ['Chipre 0,1976 0,2304 16,60%'],
 ['Austria 0,2216 0,2285 3,11%'],
 ['Portugal 0,2089 0,217 3,88%'],
 ['Francia 0,1933 0,2022 4,60%'],
 ['Luxemburgo 0,1988 0,1989 0,05%'],
 ['Grecia 0,168 0,1974 17,50%'],
 ['Estonia 0,1324 0,1939 46,45%'],
 ['Letonia 0,1403 0,1886 34,43%'],
 ['República Checa 0,1802 0,1883 4,50%'],
 ['Finlandia 0,1767 0,184 4,13%'],
 ['Eslovenia 0,1662 0,1711 2,95%'],
 ['Eslovaquia 0,1668 0,1624 -2,64%'],
 ['Rumanía 0,1536 0,1602 4,30%'],
 ['Polonia 0,1548 0,1574 1,68%'],
 ['Lituania 0,1348 0,1477 9,57%'],
 ['Países Bajos 0,1281 0,1449 13,11%'],
 ['Malta 0,1279 0,1317 2,97%'],
 ['Croacia 0,1291 0,1313 1,70%'],
 ['Bulgaria 0,1024 0,1091 6,54%'],
 ['Hungría 0,1003 0,1001 -0,20%'],
 ['Noruega 0,1826 0,2206 20,81%'],
 ['Liechtenstein 0,2071 0,2121 2,41%'],
 ['Islandia 0,1356 0,1387 2,29%']]

In [83]:
bank=[i for a in y for i in a]
#bank.sort(reverse=True) #Ordenar los valores
bank.remove(bank[0])
bank
bank.remove(bank[0])
bank
bank.remove(bank[15])
bank
bank.remove(bank[14])
bank
bank.remove(bank[19])
bank

['Dinamarca 0,29 0,3448 18,90%',
 'Alemania 0,3193 0,3234 1,28%',
 'Bélgica 0,2702 0,2994 10,81%',
 'Irlanda 0,2555 0,2974 16,40%',
 'España 0,2323 0,2816 21,22%',
 'Italia 0,2259 0,236 4,47%',
 'Chipre 0,1976 0,2304 16,60%',
 'Austria 0,2216 0,2285 3,11%',
 'Portugal 0,2089 0,217 3,88%',
 'Francia 0,1933 0,2022 4,60%',
 'Luxemburgo 0,1988 0,1989 0,05%',
 'Grecia 0,168 0,1974 17,50%',
 'Estonia 0,1324 0,1939 46,45%',
 'Letonia 0,1403 0,1886 34,43%',
 'Eslovenia 0,1662 0,1711 2,95%',
 'Eslovaquia 0,1668 0,1624 -2,64%',
 'Rumanía 0,1536 0,1602 4,30%',
 'Polonia 0,1548 0,1574 1,68%',
 'Lituania 0,1348 0,1477 9,57%',
 'Malta 0,1279 0,1317 2,97%',
 'Croacia 0,1291 0,1313 1,70%',
 'Bulgaria 0,1024 0,1091 6,54%',
 'Hungría 0,1003 0,1001 -0,20%',
 'Noruega 0,1826 0,2206 20,81%',
 'Liechtenstein 0,2071 0,2121 2,41%',
 'Islandia 0,1356 0,1387 2,29%']

In [84]:
ban=[i for a in bank for i in a.split(" ")]
ban

['Dinamarca',
 '0,29',
 '0,3448',
 '18,90%',
 'Alemania',
 '0,3193',
 '0,3234',
 '1,28%',
 'Bélgica',
 '0,2702',
 '0,2994',
 '10,81%',
 'Irlanda',
 '0,2555',
 '0,2974',
 '16,40%',
 'España',
 '0,2323',
 '0,2816',
 '21,22%',
 'Italia',
 '0,2259',
 '0,236',
 '4,47%',
 'Chipre',
 '0,1976',
 '0,2304',
 '16,60%',
 'Austria',
 '0,2216',
 '0,2285',
 '3,11%',
 'Portugal',
 '0,2089',
 '0,217',
 '3,88%',
 'Francia',
 '0,1933',
 '0,2022',
 '4,60%',
 'Luxemburgo',
 '0,1988',
 '0,1989',
 '0,05%',
 'Grecia',
 '0,168',
 '0,1974',
 '17,50%',
 'Estonia',
 '0,1324',
 '0,1939',
 '46,45%',
 'Letonia',
 '0,1403',
 '0,1886',
 '34,43%',
 'Eslovenia',
 '0,1662',
 '0,1711',
 '2,95%',
 'Eslovaquia',
 '0,1668',
 '0,1624',
 '-2,64%',
 'Rumanía',
 '0,1536',
 '0,1602',
 '4,30%',
 'Polonia',
 '0,1548',
 '0,1574',
 '1,68%',
 'Lituania',
 '0,1348',
 '0,1477',
 '9,57%',
 'Malta',
 '0,1279',
 '0,1317',
 '2,97%',
 'Croacia',
 '0,1291',
 '0,1313',
 '1,70%',
 'Bulgaria',
 '0,1024',
 '0,1091',
 '6,54%',
 'Hungría',
 '0,1003',
 '0,1001',
 '-0,20%',
 'Noruega',
 '0,1826',
 '0,2206',
 '20,81%',
 'Liechtenstein',
 '0,2071',
 '0,2121',
 '2,41%',
 'Islandia',
 '0,1356',
 '0,1387',
 '2,29%']

In [85]:
Paises=ban[0::4]
Tri1=ban[1::4]
Tri2=ban[2::4]
Variacion=ban[3::4]

Tri1= [re.sub(',', '.', i) for i in Tri1]
Tri1=[float(i) for i in Tri1]

Tri2= [re.sub(',', '.', i) for i in Tri2]
Tri2=[float(i) for i in Tri2]

In [86]:
dic={'1ºSemestre 2021':Tri1,
    '2ºSemestre 2021':Tri2,
    'Variación':Variacion}

coDomestico=pd.DataFrame(dic, index=Paises)
coDomestico

               1ºSemestre 2021  2ºSemestre 2021 Variación
Dinamarca               0.2900           0.3448    18,90%
Alemania                0.3193           0.3234     1,28%
Bélgica                 0.2702           0.2994    10,81%
Irlanda                 0.2555           0.2974    16,40%
España                  0.2323           0.2816    21,22%
Italia                  0.2259           0.2360     4,47%
Chipre                  0.1976           0.2304    16,60%
Austria                 0.2216           0.2285     3,11%
Portugal                0.2089           0.2170     3,88%
Francia                 0.1933           0.2022     4,60%
Luxemburgo              0.1988           0.1989     0,05%
Grecia                  0.1680           0.1974    17,50%
Estonia                 0.1324           0.1939    46,45%
Letonia                 0.1403           0.1886    34,43%
Eslovenia               0.1662           0.1711     2,95%
Eslovaquia              0.1668           0.1624    -2,64%
Rumanía                 0.1536           0.1602     4,30%
Polonia                 0.1548           0.1574     1,68%
Lituania                0.1348           0.1477     9,57%
Malta                   0.1279           0.1317     2,97%
Croacia                 0.1291           0.1313     1,70%
Bulgaria                0.1024           0.1091     6,54%
Hungría                 0.1003           0.1001    -0,20%
Noruega                 0.1826           0.2206    20,81%
Liechtenstein           0.2071           0.2121     2,41%
Islandia                0.1356           0.1387     2,29%

In [72]:
#coDomestico.to_csv('coDomestico.csv', index=False)

### España - Consumo de electricidad

In [87]:
url='https://datosmacro.expansion.com/energia-y-medio-ambiente/electricidad-consumo/espana'
browsr=webdriver.Chrome()
browsr.get(url)

In [88]:
di=browsr.find_elements(By.TAG_NAME,'tbody')
ene=[i.text for i in di]
ene

['2021 260.011 256.546 5.407,3\n2020 251.399 250.051 5.275,5\n2019 260.829 264.664 5.591,6\n2018 260.982 268.886 5.728,7\n2017 262.306 267.867 5.741,0\n2016 261.836 264.666 5.688,4\n2015 267.454 262.808 5.659,1\n2014 266.512 257.720 5.548,4\n2013 273.286 260.598 5.602,8\n2012 283.119 266.860 5.710,9\n2011 279.354 270.022 5.767,5\n2010 288.527 275.736 5.908,6\n2009 280.074 268.193 5.769,3\n2008 295.894 281.051 6.078,2\n2007 288.137 277.954 6.086,3\n2006 279.967 251.562 5.617,1\n2005 268.934 241.631 5.490,4\n2004 259.365 232.267 5.364,6\n2003 244.185 222.921 5.239,3\n2002 226.021 212.103 5.070,9\n2001 221.134 206.603 5.034,8\n2000 208.742 193.917 4.768,6\n1999 194.466 180.703 4.465,1\n1998 183.533 168.488 4.180,5\n1997 179.752 162.581 4.050,0\n1996 165.187 150.650 3.769,0\n1995 156.873 145.402 3.652,6\n1994 152.877 139.597 3.521,6\n1993 147.425 133.844 3.392,0\n1992 148.172 133.969 3.412,0\n1991 147.118 131.902 3.377,7\n1990 143.675 129.219 3.323,4\n1989 140.075 125.859 3.239,3\n1988 129.867 115.046 2.964,9\n1987 127.987 114.291 2.950,9\n1986 127.486 114.255 2.957,1\n1985 124.778 111.865 2.903,2\n1984 117.409 108.653 2.828,9\n1983 114.778 104.163 2.723,0\n1982 113.188 99.595 2.614,7\n1981 109.573 99.205 2.618,8\n1980 108.579 97.231 2.583,5',
 '',
 '']

In [89]:
ener=[i for a in ene for i in a.split('\n')]
ener

['2021 260.011 256.546 5.407,3',
 '2020 251.399 250.051 5.275,5',
 '2019 260.829 264.664 5.591,6',
 '2018 260.982 268.886 5.728,7',
 '2017 262.306 267.867 5.741,0',
 '2016 261.836 264.666 5.688,4',
 '2015 267.454 262.808 5.659,1',
 '2014 266.512 257.720 5.548,4',
 '2013 273.286 260.598 5.602,8',
 '2012 283.119 266.860 5.710,9',
 '2011 279.354 270.022 5.767,5',
 '2010 288.527 275.736 5.908,6',
 '2009 280.074 268.193 5.769,3',
 '2008 295.894 281.051 6.078,2',
 '2007 288.137 277.954 6.086,3',
 '2006 279.967 251.562 5.617,1',
 '2005 268.934 241.631 5.490,4',
 '2004 259.365 232.267 5.364,6',
 '2003 244.185 222.921 5.239,3',
 '2002 226.021 212.103 5.070,9',
 '2001 221.134 206.603 5.034,8',
 '2000 208.742 193.917 4.768,6',
 '1999 194.466 180.703 4.465,1',
 '1998 183.533 168.488 4.180,5',
 '1997 179.752 162.581 4.050,0',
 '1996 165.187 150.650 3.769,0',
 '1995 156.873 145.402 3.652,6',
 '1994 152.877 139.597 3.521,6',
 '1993 147.425 133.844 3.392,0',
 '1992 148.172 133.969 3.412,0',
 '1991 147.118 131.902 3.377,7',
 '1990 143.675 129.219 3.323,4',
 '1989 140.075 125.859 3.239,3',
 '1988 129.867 115.046 2.964,9',
 '1987 127.987 114.291 2.950,9',
 '1986 127.486 114.255 2.957,1',
 '1985 124.778 111.865 2.903,2',
 '1984 117.409 108.653 2.828,9',
 '1983 114.778 104.163 2.723,0',
 '1982 113.188 99.595 2.614,7',
 '1981 109.573 99.205 2.618,8',
 '1980 108.579 97.231 2.583,5',
 '',
 '']

In [90]:
energia=[i for a in ener for i in a.split(' ')]
energia

['2021',
 '260.011',
 '256.546',
 '5.407,3',
 '2020',
 '251.399',
 '250.051',
 '5.275,5',
 '2019',
 '260.829',
 '264.664',
 '5.591,6',
 '2018',
 '260.982',
 '268.886',
 '5.728,7',
 '2017',
 '262.306',
 '267.867',
 '5.741,0',
 '2016',
 '261.836',
 '264.666',
 '5.688,4',
 '2015',
 '267.454',
 '262.808',
 '5.659,1',
 '2014',
 '266.512',
 '257.720',
 '5.548,4',
 '2013',
 '273.286',
 '260.598',
 '5.602,8',
 '2012',
 '283.119',
 '266.860',
 '5.710,9',
 '2011',
 '279.354',
 '270.022',
 '5.767,5',
 '2010',
 '288.527',
 '275.736',
 '5.908,6',
 '2009',
 '280.074',
 '268.193',
 '5.769,3',
 '2008',
 '295.894',
 '281.051',
 '6.078,2',
 '2007',
 '288.137',
 '277.954',
 '6.086,3',
 '2006',
 '279.967',
 '251.562',
 '5.617,1',
 '2005',
 '268.934',
 '241.631',
 '5.490,4',
 '2004',
 '259.365',
 '232.267',
 '5.364,6',
 '2003',
 '244.185',
 '222.921',
 '5.239,3',
 '2002',
 '226.021',
 '212.103',
 '5.070,9',
 '2001',
 '221.134',
 '206.603',
 '5.034,8',
 '2000',
 '208.742',
 '193.917',
 '4.768,6',
 '1999',
 '194.466',
 '180.703',
 '4.465,1',
 '1998',
 '183.533',
 '168.488',
 '4.180,5',
 '1997',
 '179.752',
 '162.581',
 '4.050,0',
 '1996',
 '165.187',
 '150.650',
 '3.769,0',
 '1995',
 '156.873',
 '145.402',
 '3.652,6',
 '1994',
 '152.877',
 '139.597',
 '3.521,6',
 '1993',
 '147.425',
 '133.844',
 '3.392,0',
 '1992',
 '148.172',
 '133.969',
 '3.412,0',
 '1991',
 '147.118',
 '131.902',
 '3.377,7',
 '1990',
 '143.675',
 '129.219',
 '3.323,4',
 '1989',
 '140.075',
 '125.859',
 '3.239,3',
 '1988',
 '129.867',
 '115.046',
 '2.964,9',
 '1987',
 '127.987',
 '114.291',
 '2.950,9',
 '1986',
 '127.486',
 '114.255',
 '2.957,1',
 '1985',
 '124.778',
 '111.865',
 '2.903,2',
 '1984',
 '117.409',
 '108.653',
 '2.828,9',
 '1983',
 '114.778',
 '104.163',
 '2.723,0',
 '1982',
 '113.188',
 '99.595',
 '2.614,7',
 '1981',
 '109.573',
 '99.205',
 '2.618,8',
 '1980',
 '108.579',
 '97.231',
 '2.583,5',
 '',
 '']

In [91]:
Año=energia[::4]
Gene=energia[1::4]
Con=energia[2::4]
cap=energia[3::4]

Año=Año[0:21]
Gene=Gene[0:21]
Con=Con[0:21]
cap=cap[0:21]

In [92]:
dic={'Generación GWh':Gene,
    'Consumo GWh':Con,
    'COnsumoPerCapita':cap}

ConsumoEsp=pd.DataFrame(dic,index=Año)
ConsumoEsp

     Generación GWh Consumo GWh COnsumoPerCapita
2021        260.011     256.546          5.407,3
2020        251.399     250.051          5.275,5
2019        260.829     264.664          5.591,6
2018        260.982     268.886          5.728,7
2017        262.306     267.867          5.741,0
2016        261.836     264.666          5.688,4
2015        267.454     262.808          5.659,1
2014        266.512     257.720          5.548,4
2013        273.286     260.598          5.602,8
2012        283.119     266.860          5.710,9
2011        279.354     270.022          5.767,5
2010        288.527     275.736          5.908,6
2009        280.074     268.193          5.769,3
2008        295.894     281.051          6.078,2
2007        288.137     277.954          6.086,3
2006        279.967     251.562          5.617,1
2005        268.934     241.631          5.490,4
2004        259.365     232.267          5.364,6
2003        244.185     222.921          5.239,3
2002        226.021     212.103          5.070,9
2001        221.134     206.603          5.034,8

In [93]:
#ConsumoEsp.to_csv('ConsumoEsp.csv', index=False)

### inflación histórica del IPC España (anual)

In [94]:
url='https://www.inflation.eu/es/tasas-de-inflacion/espana/inflacion-historica/ipc-inflacion-espana.aspx'
brow=webdriver.Chrome()
brow.get(url)

In [98]:
des=brow.find_elements(By.CLASS_NAME,'tabledata1')
des2=brow.find_elements(By.CLASS_NAME,'tabledata2')
des=[i.text for i in des[0:5]]
des2=[i.text for i in des2[0:5]]

In [118]:
combdesp= [i.strip().split('   ') for a in zip(des, des2)for i in a]
combdesp

[['IPC España 2021 6,55 %', 'IPC España 2011 2,38 %'],
 ['IPC España 2020 -0,53 %', 'IPC España 2010 2,99 %'],
 ['IPC España 2019 0,79 %', 'IPC España 2009 0,79 %'],
 ['IPC España 2018 1,18 %', 'IPC España 2008 1,43 %'],
 ['IPC España 2017 1,11 %', 'IPC España 2007 4,22 %'],
 ['IPC España 2016 1,57 %', 'IPC España 2006 2,67 %'],
 ['IPC España 2015 0,02 %', 'IPC España 2005 3,74 %'],
 ['IPC España 2014 -1,04 %', 'IPC España 2004 3,23 %'],
 ['IPC España 2013 0,25 %', 'IPC España 2003 2,60 %'],
 ['IPC España 2012 2,87 %', 'IPC España 2002 4,00 %']]

In [119]:
combdesp2=[i for a in combdesp for i in a]
combdesp2.sort(reverse=True)
combdesp2

['IPC España 2021 6,55 %',
 'IPC España 2020 -0,53 %',
 'IPC España 2019 0,79 %',
 'IPC España 2018 1,18 %',
 'IPC España 2017 1,11 %',
 'IPC España 2016 1,57 %',
 'IPC España 2015 0,02 %',
 'IPC España 2014 -1,04 %',
 'IPC España 2013 0,25 %',
 'IPC España 2012 2,87 %',
 'IPC España 2011 2,38 %',
 'IPC España 2010 2,99 %',
 'IPC España 2009 0,79 %',
 'IPC España 2008 1,43 %',
 'IPC España 2007 4,22 %',
 'IPC España 2006 2,67 %',
 'IPC España 2005 3,74 %',
 'IPC España 2004 3,23 %',
 'IPC España 2003 2,60 %',
 'IPC España 2002 4,00 %']

In [120]:
l=[i for a in combdesp2 for i in a.split(' ')]
pais=l[1::5]
ano=l[2::5]
cant=l[3::5]

In [121]:
a= [re.sub(',', '.', i) for i in cant]
b=[float(i) for i in a]

dicto={
      'InflaciónEspaña':b}

In [122]:
InflacionEsp=pd.DataFrame(dicto, index=ano)
InflacionEsp

      InflaciónEspaña
2021             6.55
2020            -0.53
2019             0.79
2018             1.18
2017             1.11
2016             1.57
2015             0.02
2014            -1.04
2013             0.25
2012             2.87
2011             2.38
2010             2.99
2009             0.79
2008             1.43
2007             4.22
2006             2.67
2005             3.74
2004             3.23
2003             2.60
2002             4.00

In [123]:
#InflacionEsp.to_csv('InflacionEsp.csv', index=False)

### Inflación histórica Europa (IPCA) – por año

In [130]:
url='https://www.inflation.eu/es/tasas-de-inflacion/europa/inflacion-historica/ipca-inflacion-europa.aspx'
browsi=webdriver.Chrome()
browsi.get(url)

In [131]:
eu=browsi.find_elements(By.CLASS_NAME,'tabledata1')
eu2=browsi.find_elements(By.CLASS_NAME,'tabledata2')
eu=[i.text for i in eu[0:5]]
eu2=[i.text for i in eu2[0:5]]

In [132]:
combeu= [i.strip().split('   ') for a in zip(eu, eu2)for i in a]
combeu

[['IPCA Europa 2021 4,96 %', 'IPCA Europa 2011 2,75 %'],
 ['IPCA Europa 2020 -0,27 %', 'IPCA Europa 2010 2,22 %'],
 ['IPCA Europa 2019 1,33 %', 'IPCA Europa 2009 0,93 %'],
 ['IPCA Europa 2018 1,52 %', 'IPCA Europa 2008 1,64 %'],
 ['IPCA Europa 2017 1,34 %', 'IPCA Europa 2007 3,11 %'],
 ['IPCA Europa 2016 1,10 %', 'IPCA Europa 2006 1,92 %'],
 ['IPCA Europa 2015 0,09 %', 'IPCA Europa 2005 2,28 %'],
 ['IPCA Europa 2014 -0,17 %', 'IPCA Europa 2004 2,36 %'],
 ['IPCA Europa 2013 0,85 %', 'IPCA Europa 2003 2,02 %'],
 ['IPCA Europa 2012 2,22 %', 'IPCA Europa 2002 2,32 %']]

In [133]:
combeu2=[i for a in combeu for i in a]
combeu2.sort(reverse=True)
combeu2

['IPCA Europa 2021 4,96 %',
 'IPCA Europa 2020 -0,27 %',
 'IPCA Europa 2019 1,33 %',
 'IPCA Europa 2018 1,52 %',
 'IPCA Europa 2017 1,34 %',
 'IPCA Europa 2016 1,10 %',
 'IPCA Europa 2015 0,09 %',
 'IPCA Europa 2014 -0,17 %',
 'IPCA Europa 2013 0,85 %',
 'IPCA Europa 2012 2,22 %',
 'IPCA Europa 2011 2,75 %',
 'IPCA Europa 2010 2,22 %',
 'IPCA Europa 2009 0,93 %',
 'IPCA Europa 2008 1,64 %',
 'IPCA Europa 2007 3,11 %',
 'IPCA Europa 2006 1,92 %',
 'IPCA Europa 2005 2,28 %',
 'IPCA Europa 2004 2,36 %',
 'IPCA Europa 2003 2,02 %',
 'IPCA Europa 2002 2,32 %']

In [134]:
e=[i for a in combeu2 for i in a.split(' ')]
Pais=e[1::5]
Ano=e[2::5]
Cant=e[3::5]

In [135]:
z= [re.sub(',', '.', i) for i in Cant]
X=[float(i) for i in z]

dicto2={'InflaciónEuropa': X}

In [136]:
InflacionEu=pd.DataFrame(dicto2, index=Ano)
InflacionEu

      InflaciónEuropa
2021             4.96
2020            -0.27
2019             1.33
2018             1.52
2017             1.34
2016             1.10
2015             0.09
2014            -0.17
2013             0.85
2012             2.22
2011             2.75
2010             2.22
2009             0.93
2008             1.64
2007             3.11
2006             1.92
2005             2.28
2004             2.36
2003             2.02
2002             2.32

In [137]:
#InflacionEu.to_csv('InflacionEu.csv', index=False)

In [138]:
Inflacion=pd.concat([InflacionEsp,InflacionEu], axis=1)
Inflacion

      InflaciónEspaña  InflaciónEuropa
2021             6.55             4.96
2020            -0.53            -0.27
2019             0.79             1.33
2018             1.18             1.52
2017             1.11             1.34
2016             1.57             1.10
2015             0.02             0.09
2014            -1.04            -0.17
2013             0.25             0.85
2012             2.87             2.22
2011             2.38             2.75
2010             2.99             2.22
2009             0.79             0.93
2008             1.43             1.64
2007             4.22             3.11
2006             2.67             1.92
2005             3.74             2.28
2004             3.23             2.36
2003             2.60             2.02
2002             4.00             2.32

In [139]:
#Inflacion.to_csv('Inflacion.csv', index=False)

In [143]:
import pandas as pd

In [145]:
d=pd.read_csv('IBG.csv')
d

    Unnamed: 0  Year  Inflation_Index  Brent_Price  Gold_USD
0            0  1990             6.76        23.76    383.56
1            1  1991             7.44        20.04    362.26
2            2  1992             5.65        19.32    343.95
3            3  1993             4.81        17.01    359.82
4            4  1994             4.26        15.86    384.15
5            5  1995             5.47        17.02    384.05
6            6  1996             6.39        20.64    387.87
7            7  1997             5.34        19.11    331.29
8            8  1998             4.71        12.76    294.09
9            9  1999             3.65        17.90    278.57
10          10  2000             3.95        28.66    279.10
11          11  2001             3.78        24.46    271.04
12          12  2002             3.12        24.99    309.68
13          13  2003             2.84        28.85    363.32
14          14  2004             1.95        38.26    409.17
15          15  2005             2.52        54.57    444.45
16          16  2006             2.97        65.16    603.77
17          17  2007             2.09        72.44    695.39
18          18  2008             3.62        96.94    871.96
19          19  2009             1.37        61.74    972.35
20          20  2010             2.05        79.61   1224.52
21          21  2011             2.04       111.26   1571.52
22          22  2012             2.79       111.63   1668.98
23          23  2013             1.73       108.56   1411.23
24          24  2014             1.66        98.97   1266.40
25          25  2015             0.59        52.32   1160.06
26          26  2016             1.29        43.64   1250.80
27          27  2017             2.36        54.13   1257.15
28          28  2018             2.19        71.34   1268.49
29          29  2019             2.11        64.30   1392.60
30          30  2020             2.38        41.96   1769.59
31          31  2021             1.56        70.86   1798.61
32          32  2022             7.18        86.54   1772.90